// Home.tsx
.notes { //grid-container
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 1200px;


  div:hover { // 'delete span' and 'add item button' visib
    div span, div button {
      opacity: 1;
    }
    // animation for upload input
    //#uploadInput {
    //  opacity: 1;
    //  transform: translateY(10px);
    //}
  };
}

@media all and (max-width: 450px) {
  .notes {
    div span, div button {
      opacity: 1;
    }
  }
}

// checkbox block - CheckboxNTextWrapper
.checkbox-N-Text {
  padding: 5px 15px;
  display: flex;
  background: transparent;

  textarea {
    transition: 0.4s ease;
  }
  &.completed textarea {
    text-decoration: line-through;
    color: #76757f;
  }
}


.alertContent {
  text-align: center;
  font-size: 17px;
  margin: 0 0 15px;
  color: #b00000;
}


// button for remove all notes from storage
.remove-all-btn {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 60px;
  cursor: pointer;
  border: 1px solid grey;
  border-radius: 5px;
  background-color: #dbced7;
  transition: 0.3s ease;

  &:hover {
    background-color: #d3b9c1;
  }
}
